version: '3.7'

volumes:
  db_data:  

x-shared_environment: &shared_environment
  LOG_LEVEL: ${LOG_LEVEL:-debug}
  DATABASE_HOST: db
  DATABASE_NAME: vapor_database
  DATABASE_USERNAME: vapor_username
  DATABASE_PASSWORD: vapor_password

services:
  app:
    image: travel_bids:latest
    build:
      context: .
    restart: always
    env_file: 
      - .env
    depends_on:
      - db
      - mongo
    ports:
      - '8000:8000'
    # user: '0' # uncomment to run as root for testing purposes even though Dockerfile defines 'vapor' user.
    command: ["serve", "--env", "production", "--hostname", "0.0.0.0", "--port", "8000"]
  migrate:
    image: travel_bids:latest
    build:
      context: .
    env_file: 
      - .env
    depends_on:
      - db
    command: ["migrate", "--yes"]
    deploy:
      replicas: 0
  revert:
    image: travel_bids:latest
    build:
      context: .
    env_file: 
      - .env
    depends_on:
      - db
    command: ["migrate", "--revert", "--yes"]
    deploy:
      replicas: 0
  db:
    image: postgres:12-alpine
    volumes:
      - db_data:/var/lib/postgresql/data/pgdata
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_USER: vapor_username
      POSTGRES_PASSWORD: vapor_password
      POSTGRES_DB: vapor_database
    ports:
      - '5432:5432'
        
  mongo:
    image: mongo
        #restart: always
    volumes:
        - db_data:/var/lib/data/mongodata
    container_name: mongodb
    environment:
        #MONGO_INITDB_ROOT_USERNAME: VAPOR
        #MONGO_INITDB_ROOT_PASSWORD: VAPOR
        MONGO_INITDB_DATABASE: VAPOR
    ports:
        - '27017:27017'
 # mongo-express:
    #image: mongo-express
    #restart: always
    #ports:
       #- 8001:8001
    #environment:
        #ME_CONFIG_MONGODB_ADMINUSERNAME: VAPOR
        #ME_CONFIG_MONGODB_ADMINPASSWORD: VAPOR
